@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$teal: #189696;
$sky: #d5e7f7;

$family-sans-serif: "Nunito", sans-serif;

$link: $teal;

$body-background-color: $sky;
$control-border-width: 2px;

@import "../node_modules/bulma/sass/base/_all.sass";